<ion-header>
    <app-header titulo="Perfil"></app-header>
</ion-header>

<ion-content>

    <!-- Deslogado -->
    <div class="container" *ngIf="!logado">

        <ion-button mode="ios" routerLink="/register" color="secondary" class="profile_button">
            Cadastrar
        </ion-button>

        <ion-button mode="ios" routerLink="/login" color="secondary" class="profile_button">
            Login
        </ion-button>

    </div>

    <!-- Logado Normal -->
    <div *ngIf="logado && !admin">
        Normal
    </div>

    <!-- Logado Admin -->
    <div *ngIf="logado && admin" class="container">

        <div class="infos">

            <div class="container_foto">
                <img *ngIf="cliente.foto" [src]="cliente.foto" class="foto">
            </div>

            <div>
                <h6>
                    <strong>
                        Nome:
                    </strong>
                    {{cliente.nome}}
                </h6>

                <h6>
                    <strong>
                        Email:
                    </strong>
                    {{cliente.email}}
                </h6>
            </div>

            <div class="botoes">
                <!-- <ion-button color="secondary">
                    Alterar Senha
                </ion-button> -->

                <ion-button color="secondary" [routerLink]="['/criar-produto']">
                    Criar Produto
                </ion-button>

                <ion-button color="secondary" (onClick)="sair()">
                    Sair
                </ion-button>
            </div>

        </div>
    </div>
</ion-content>