<ion-header>
    <app-header titulo="Login"></app-header>
</ion-header>

<ion-content>

    <div class="container">

        <img src="../../../assets/img/logo_size_invert.jpg" class="logo">
        <!-- <ion-img [src]="image" class="logo"></ion-img> -->

        <div class="input_container">

            <ion-item>
                <ion-label position="stacked">Email:</ion-label>
                <ion-input type="email" class="form_input" mode="ios" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Senha:</ion-label>
                <ion-input type="password" class="form_input" mode="ios" [(ngModel)]="senha"></ion-input>
            </ion-item>

        </div>

        <div class="button_container">
            <ion-button (click)="login()" mode="ios" routerLink="/tabs/profile" color="secondary" class="form_button">
                Login
            </ion-button>
        </div>

    </div>

</ion-content>