<ion-header>
    <app-header titulo="Cadastrar"></app-header>
</ion-header>

<ion-content>

    <div class="container">

        <form>

            <ion-item>
                <ion-label position="stacked">Nome:</ion-label>
                <ion-input type="text" class="form_input" mode="ios"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Email:</ion-label>
                <ion-input type="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Senha:</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Confirmar Senha:</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">CEP:</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Número:</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Logradouro:</ion-label>
                <ion-input></ion-input>
            </ion-item>

            <div class="button_container">
                <ion-button mode="ios" routerLink="/tabs/profile" color="secondary" class="form_button">
                    Cadastrar
                </ion-button>
            </div>
        </form>

    </div>

</ion-content>