.container {
    padding: 1rem 1.5rem 0 1.5rem;
}

.card_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_image {
    width: 12rem;
}

.card_title {
    margin-top: 1rem;
}

.card_subtitle {
    justify-self: flex-start;
    margin-top: 1rem;
}

.card_content {
    color: #0A0;
    display: flex;
    justify-content: flex-end;
}