<ion-header>
    <app-header titulo="Home"></app-header>
</ion-header>

<ion-content>

    <div class="container">

        <h2>Rações</h2>

        <ion-slides mode="ios" pager="ios" scrollbar="false">
            <ion-slide>
                <app-card-produto> </app-card-produto>
            </ion-slide>
            <ion-slide>
                <app-card-produto> </app-card-produto>
            </ion-slide>
            <ion-slide>
                <app-card-produto> </app-card-produto>
            </ion-slide>
            <ion-slide>
                <app-card-produto> </app-card-produto>
            </ion-slide>
            <ion-slide>
                <app-card-produto> </app-card-produto>
            </ion-slide>
            <ion-slide>
                <app-card-produto> </app-card-produto>
            </ion-slide>
        </ion-slides>

    </div>

</ion-content>