<ion-header>
    <app-header titulo="Home"></app-header>
</ion-header>

<ion-content>

    <div class="container">

        <h2>Rações</h2>

        <swiper
            
        >
            <ng-template swiperSlide *ngFor="let p of produtos">
                <ion-card [routerLink]="['/produto-detalhes', p.id]">
                    <ion-card-header class="card_header">
                        <ion-img [src]="p.image" class="card_image"></ion-img>
                        <ion-card-title class="card_title">{{p.title}}</ion-card-title>
                        <ion-card-subtitle class="card_subtitle">{{p.subtitle}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content class="card_content">
                        {{p.price}}
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </swiper>

    </div>

</ion-content>